<a href="https://colab.research.google.com/github/SrithaG/CSC-120-Computer-Fundamentals/blob/main/CSC120_LAB04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10, 100):
  print(i)

In [ ]:
user_num = int(input("Please enter a number between 0 and 99: "))
if user_num == 0 or user_num <= 9:
  print("This is a single digit number")
elif user_num >= 10 and user_num <= 99:
  print("This is a double digit number")

In [ ]:
for i in range (10, 100):
  if i % 2 == 0:
    print(i)

In [ ]:
number = 5
for i in range (1, 11):
  multiply = number * i
  print(multiply)

In [ ]:
number = 5
for i in range (1, 11):
  multiply = number * i
  if multiply % 3 == 0:
    print(multiply, "is divisible by 3")
  else:
    print(multiply)

In [ ]:
# Python code
prices = [10, 130, 25, 64, 91, 66, 42, 18, 141, 64]
for x in prices:
  print(x)

In [ ]:
# Python code
prices = [10, 130, 25, 64, 91, 66, 42, 18, 141, 64]

filtered_list = []
for x in prices:
  if x > 20 and x < 80:
    filtered_list.append(x)

for x in filtered_list:
  print(x)

In [ ]:
username = input("Please enter the username: ")
password = input("Please enter the password: ")
if username == "student007" and password == "new_password":
  print("Login sucessful!")
else:
  print("Try Again. Login failure.")

In [ ]:
username = input("Please enter username: ")
if len(username) < 5 or len(username) > 16:
  print("Invalid Username")
else:
  print("Valid Username")

In [ ]:
#EXTRA CREDIT PRBLEM 1

#Python code
item_prices = [10, 40, 1, 16, 25, 34, 49, 40]
length = len(item_prices)
for x in range(0, length):
  for y in range( x + 1, length):
    if (item_prices[x] + item_prices[y] == 50):
      print(item_prices[x], ",", item_prices[y])

In [ ]:
#EXTRA CREDIT PRBLEM 2
#Python code 
names = ["sarang","john","lily","jasmine","mara","dave","chester"]
user_name = input("Please enter the name you want to find: ")
if user_name in names:
  print("Name Found:", user_name)
else:
  print("Name not found")

Please enter the name you want to find: sarang
Name Found: sarang